.task-details {
    height: 100vh;
    text-align: left;
  }
  
  .task-info {
    width: 57.5rem;
    min-width: 57.5rem;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }
  
  .task-info p {
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .priority-low {
    color: green;
  }
  
  .priority-medium {
    color: orange;
  }
  
  .priority-high {
    color: red;
  }
  
  .status-pending {
    color: blue;
  }
  
  .status-completed {
    color: green;
  }
  